{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the Home Page</h1>
<div class="row">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='hashrate_stats_line_graph.png') }}" class="chart-image" />
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='worker_uptime_pie_chart.png') }}" class="chart-image" />
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='workers_connected_bar_chart.png') }}" class="chart-image" />
    </div>
</div>
{% endblock %}
